{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Free Bootstrap Themes by Zerotheme dot com - Free Responsive Html5 Templates">
    <meta name="author" content="www.Zerotheme.com">

    <title>Mexico Buddy Portal</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
	<link rel="stylesheet" href="{% static 'css/reset.css' %}"> <!-- CSS reset -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" href="{% static 'css/animated-logo.min.css' %}"><!-- Logo -->
	<link rel="stylesheet" href="{% static 'css/our-team.css' %}"> <!-- Resource style -->
	
	<!-- Custom Fonts -->
    <link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
	
	<!-- Js -->
	<script src="{% static 'js/modernizr.js' %}"></script> <!-- Modernizr -->
	
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="{% static 'js/html5shiv.js' %}"></script>
        <script src="{% static 'js/respond.min.js' %}"></script>
    <![endif]-->
</head>
<body>
	<!-- /////////////////////////////////////////Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar' %}"></span>
                    <span class="icon-bar' %}"></span>
                    <span class="icon-bar' %}"></span>
                </button>
                <a class="navbar-brand page-scroll" href="http://127.0.0.1:8000/home/">Accenture MDC</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="{% static '#page-top' %}"></a>
                    </li>
					<li>
                        <a class="page-scroll" href="http://127.0.0.1:8000/home/">Home</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="http://127.0.0.1:8000/usefulinfo/">Useful Links</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
	<!-- Navigation -->

	<!-- /////////////////////////////////////////Header -->
	<header id="page-top">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="o-container">
						<div class="c-slack">
						  <span class="c-slack__dot c-slack__dot--a' %}"></span>
						  <span class="c-slack__dot c-slack__dot--b' %}"></span>
						  <span class="c-slack__dot c-slack__dot--c' %}"></span>
						  <span class="c-slack__dot c-slack__dot--d' %}"></span>
						</div>
					</div>
					<div class="intro-text">
						<div class="intro-heading">Welcome To Mexico Buddy Portal !!</div>
						<div class="intro-lead-in">Please click type of travel</div>
						
					</div>
					<a class="btn btn-1 btn-sm" href="http://127.0.0.1:8000/bvisa/bvisa_add.html">P710</a>
					<a class="btn btn-1 btn-sm" href="http://127.0.0.1:8000/gcp/gcp_add.html">P750</a>
				</div>
			</div>
		</div>
    </header>
	<!-- Header -->
	

		
		<!-- ////////////Content Box 05 -->
		<section class="box-content box-5" id="contact">
			<div class="container">

				<div class="row">
					<div class="col-md-4 ">
						<div class="row box-item">
							<h3>Email us for any questions </h3>
							<p>name1@accenture.com</p>
							<p>name2@accenture.com</p>
						</div>
					</div>
					
					
				</div>
			</div>
		</section>
		
	</div>
	
	<!-- /////////////////////////////////////////Footer -->
	<footer>
		
		<div class="copyright">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<p>Copyright &copy; @ Accenture</a></p>
					</div>
					<div class="col-md-4">
						<ul class="list-inline">
						</ul>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- Footer -->

	
	<!-- jQuery -->
	<script src="{% static 'js/jquery-2.1.1.js' %}"></script>
	<script src="{% static 'js/masonry.pkgd.min.js' %}"></script>
	<script src="{% static 'js/jquery.flexslider-min.js' %}"></script>
	<script src="{% static 'js/main.js' %}"></script> <!-- Resource jQuery -->

	<!-- Bootstrap Core JavaScript -->
	<script src="{% static 'js/bootstrap.min.js' %}"></script>

	<!-- Custom Theme JavaScript -->
	<script src="{% static 'js/agency.js' %}"></script>

	<!-- Animated Top -->
	<script src="{% static 'js/jquery.easing.min.js' %}"></script>
	<script src="{% static 'js/classie.js' %}"></script>
	<script src="{% static 'js/cbpAnimatedHeader.js' %}"></script>

</body>
</html>
